<!-- Ładowanie ajaxem -->

<h1 class="liveHeader">KLASYFIKACJA</h1>
<h1 class="czatHeader">CZAT ONLINE</h1>

<div id="liveWrapper">
<div id="leftColumn">
			<div id="headerLiveRelation">
			<div class="columnKlasyf">Imię i nazwisko</div>
			<div class="columnKlasyf">Skok</div>
			<div class="columnKlasyf">Nota</div>
			</div>
			<div id="liveRelation">
			</div>
	
		</div>

		<div id="rightColumn">
		</div>
		</div>
		<div id="postWrapper">
		    <%if (isAdminLogged) {%>
		    <div id="postLeft">
			<div id="headerInput">Skoczek</div>
			<div id="headerInput">Długość skoku</div>
			<div id="headerInput">Nota</div>
		    <textarea id="adminMsg" rows="" cols="" ></textarea>
		    <textarea id="adminMsg2" rows="" cols="" ></textarea>
		    <textarea id="adminMsg3" rows="" cols="" ></textarea>
		    <br><br>
		    
	<a id="sendLeft" href="#">wyślij</a>
		    </div>
		    <%}%>
			<div id="postRight">
			<div id="headerInput">Wpisz wiadomość</div>
			<textarea rows="" id="userMsg" cols="" ></textarea>
			<br><br>
	<a id="sendRight" href="#">wyślij</a>
			
		
		
		<script>
		
		$(document).ready(function(){

  h = $(window).height();
  
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())});
  
  });
  
  resizeElements = function(){
  
  h = $(window).height();
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())});
  
  };
  
	$(window).on('resize',resizeElements);		
		
  
  
  
			var socket = io.connect("localhost:3000");
			<%if (isAdminLogged) {%>
			adminSendMsg = function(msg,msg2,msg3)
			    {
			    socket.emit('adminChannel', msg,msg2,msg3);
			    $('#adminMsg').val('');
			    $('#adminMsg2').val('');
			    $('#adminMsg3').val('');
			    }
			$('#sendLeft').click(function(){
			    var message1 = $('#adminMsg').val();
			    var message2 = $('#adminMsg2').val();
			    var message3 = $('#adminMsg3').val();
			    adminSendMsg(message1,message2,message3);
			});
			$('#adminMsg').keyup(function(e){
			    if(e.which == 13) {
			    var message1 = $('#adminMsg').val();
			    var message2 = $('#adminMsg2').val();
			    var message3 = ('#adminMsg2').val();
			    adminSendMsg(message1,message2,message3);
			    }
			});
			<%}%>
			socket.removeListener('adminMsg');
			socket.on('adminMsg', function(dane) {
			    $('<div class="liveRelationRow"><div class="liveDescription"><div class="kolumna">'+dane.message+'</div><div class="kolumna">'+dane.message2+'</div><div class="kolumna">'+dane.message3+'</div></div></div>').hide().prependTo('#liveRelation').slideDown();
			});
			
			// ładowanie poprzednich postow
			socket.emit('loadAdminPosts', 'load');
			socket.removeListener('adminMsgs');
			socket.on('adminMsgs', function(listaDanych) {
			    listaDanych.forEach(function(dane){
				if (dane.message)
				$('#liveRelation').append('<div class="liveRelationRow"><div class="liveDescription"><div class="kolumna">'+dane.message+'</div><div class="kolumna">'+dane.message2+'</div><div class="kolumna">'+dane.message3+'</div></div></div>');
			    });
			});
			
			
			userNick = 'Test';
			userSendMsg = function(msg)
			    {
			    sendInfo = {message: msg, nick: '<%= userNick %>'};
			    socket.emit('usersChannel', sendInfo);
			    $('#userMsg').val('');
			    }
			$('#sendRight').click(function(){
			    userSendMsg($('#userMsg').val());
			});
			$('#userMsg').keyup(function(e){
			    if(e.which == 13) {
			    userSendMsg($('#userMsg').val());
			    }
			});
			socket.removeListener('userMsg');
			socket.on('userMsg', function(dane) {
			    $('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time+'</div></div></div>').hide().prependTo('#rightColumn').slideDown();
			});
			
			// ładowanie poprzednich postow
			socket.emit('loadChatPosts', 'load');
			socket.removeListener('chatPosts');
			socket.on('chatPosts', function(listaDanych) {
			    listaDanych.forEach(function(dane){
				if (dane.time)
				$('#rightColumn').append('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time.substring(11,16)+'</div></div></div>');
			    });
			});
			
			
		</script>