<!-- Ładowanie ajaxem -->

<h1 class="liveHeader">KLASYFIKACJA</h1>
<h1 class="czatHeader">CZAT ONLINE</h1>

<div id="liveWrapper">
<div id="leftColumn">
			<div id="headerLiveRelation">
			<div class="columnKlasyf" style='width: 220px'>Imię i nazwisko</div>
			<div class="columnKlasyf" style='width: 100px'>Skok</div>
			<div class="columnKlasyf" style='width: 100px'>Nota</div>
			</div>
			<div id="liveRelation">
			</div>
	
		</div>

		<div id="rightColumn">
		</div>
		</div>
		<div id="postWrapper">
		    <%if (isAdminLogged) {%>
		    <div id="postLeft">
			<div id="headerInput">Skoczek</div>
			<div id="headerInput">Długość skoku</div>
			<div id="headerInput">Nota</div>
		    <textarea id="adminMsg" rows="" cols="" ></textarea>
		    <textarea id="adminMsg2" rows="" cols="" ></textarea>
		    <textarea id="adminMsg3" rows="" cols="" ></textarea>
		    <br><br>
		    
	<a id="sendLeft" href="#">wyślij</a>
		    </div>
		    <%}%>
			<div id="postRight">
			<div id="headerInput">Wpisz wiadomość</div>
			<textarea rows="" id="userMsg" cols="" ></textarea>
			<br><br>
	<a id="sendRight" href="#">wyślij</a>
			
		
		
		<script>
		
		$(document).ready(function(){

  h = $(window).height();
  
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())});
  
  });
  
  resizeElements = function(){
  
  h = $(window).height();
  $('#liveWrapper').css({height:(h-($('#header').height()*2)-$('#postWrapper').height()-$('#liveHeader').height())});
  
  };
  
	$(window).on('resize',resizeElements);		
		
  
  
  
			var socket = io.connect("localhost:3000");
			<%if (isAdminLogged) {%>
			adminSendMsg = function(jumper,jump,points)
			    {
			    socket.emit('adminChannel', jumper,jump,points);
			    $('#adminMsg').val('');
			    $('#adminMsg2').val('');
			    $('#adminMsg3').val('');
			    }
			$('#sendLeft').click(function(){
			    var jumper = $('#adminMsg').val();
			    var jump = $('#adminMsg2').val();
			    var points = $('#adminMsg3').val();
			    adminSendMsg(jumper,jump,points);
			});
			$('#adminMsg, #adminMsg2, #adminMsg3').keyup(function(e){
			    if(e.which == 13) {
			    var jumper = $('#adminMsg').val();
			    var jump = $('#adminMsg2').val();
			    var points = ('#adminMsg3').val();
			    adminSendMsg(jumper,jump,points);
			    }
			});
			<%}%>
		
			var gdzieWstawic;
			socket.removeListener('adminMsg');
			socket.on('adminMsg', function(dane) {
			    var punkty = $('.liveRelationRow').first();
			    gdzieWstawic = $('.liveRelationRow').first(); // dodamy do pretendTo(gdzieWstawic);		
			    if (punkty.find('.points').text() != "") {

			        for (var i=0;i<50;i++) {
						//alert("Gdzie wstawic: "+gdzieWstawic);
						//alert(punkty.find('div .points').text());
			             if (punkty.find('div .points').text() != "") {
						//alert("Tabela: "+punkty.find('.points').text()+" Wpisane: "+dane.points);
			                  if ( +punkty.find('.points').text() <= +dane.points) {
						$(gdzieWstawic).hide().before('<div class="liveRelationRow" style="border-bottom-style: outset; border-bottom-width: thin; border-bottom-color: #72C5EF"><div class="liveDescription"><div class="kolumna" style="width: 220px">'+dane.jumper+'</div><div class="kolumna" style="width: 100px">'+dane.jump+'</div><div class="points" style="width: 100px" value="'+dane.points+'">'+dane.points+'</div></div></div>');
						$(gdzieWstawic).hide().slideDown();
						if ($('#liveRelation .liveRelationRow:even').hasClass('highlightEven')) {
							$('#liveRelation .liveRelationRow:even').removeClass('highlightEven');		
						}
						$('#liveRelation .liveRelationRow:odd').addClass('highlightEven');
						// Podswietlanie dodanego elementu
						$(gdzieWstawic).prev().addClass('highlightPost');
						window.setTimeout(function() {
						$(gdzieWstawic).prev().removeClass('highlightPost');
						}, 2500);
					  i=50;
					  } else {
				          punkty = punkty.next();
					  gdzieWstawic = gdzieWstawic.next();
					  }
				     };
			        }
			    }
			    //$('<div class="liveRelationRow" style="border-bottom-style: outset; border-bottom-width: thin; border-bottom-color: #72C5EF"><div class="liveDescription"><div class="kolumna" style="width: 220px">'+dane.jumper+'</div><div class="kolumna" style="width: 100px">'+dane.jump+'</div><div class="points" style="width: 100px" value="'+dane.points+'">'+dane.points+'</div></div></div>').hide().prependTo('#liveRelation').slideDown();
			});
			
			// ładowanie poprzednich postow
			socket.emit('loadAdminPosts', 'load');
			socket.removeListener('adminMsgs');
			socket.on('adminMsgs', function(listaDanych) {
			    for (var i=0;i<listaDanych.length;i++) {
				if (listaDanych[i].points){
				$('#liveRelation').prepend('<div class="liveRelationRow" style="border-bottom-style: outset; border-bottom-width: thin; border-bottom-color: #72C5EF"><div class="liveDescription"><div class="kolumna" style="width: 220px">'+listaDanych[i].jumper+'</div><div class="kolumna" style="width: 100px">'+listaDanych[i].jump+'</div><div class="points" style="width: 100px" value="'+listaDanych[i].points+'">'+listaDanych[i].points+'</div></div></div>');
				}
			    }
			    $('#liveRelation .liveRelationRow:odd').addClass('highlightEven');
			    /*var punkty = $('.liveRelationRow').first();
			    alert(punkty.find('.points').text());
			    alert(punkty.next().find('.points').text());*/
			    /*listaDanych.forEach(function(dane){
				if (dane.message3)
				$('#liveRelation').prepend('<div class="liveRelationRow" style="border-bottom-style: outset; border-bottom-width: thin; border-bottom-color: #72C5EF"><div class="liveDescription"><div class="kolumna" style="width: 220px">'+dane.message+'</div><div class="kolumna" style="width: 100px">'+dane.message2+'</div><div class="kolumna" style="width: 100px">'+dane.message3+'</div></div></div>');
			    });*/
			});
			
			
			userNick = 'Test';
			userSendMsg = function(msg)
			    {
			    sendInfo = {message: msg, nick: '<%= userNick %>'};
			    socket.emit('usersChannel', sendInfo);
			    $('#userMsg').val('');
			    }
			$('#sendRight').click(function(){
			    userSendMsg($('#userMsg').val());
			});
			$('#userMsg').keyup(function(e){
			    if(e.which == 13) {
			    userSendMsg($('#userMsg').val());
			    }
			});
			socket.removeListener('userMsg');
			socket.on('userMsg', function(dane) {
			    $('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time+'</div></div></div>').hide().prependTo('#rightColumn').slideDown();
			});
			
			// ładowanie poprzednich postow
			socket.emit('loadChatPosts', 'load');
			socket.removeListener('chatPosts');
			socket.on('chatPosts', function(listaDanych) {
			    listaDanych.forEach(function(dane){
				if (dane.time)
				$('#rightColumn').append('<div class="userPost"><div class="cloud">'+dane.message+'</div><div class="cloudDynks"></div><div class="userData"><div class="nick">'+dane.nick+'</div><div class="PostTime">'+dane.time.substring(11,16)+'</div></div></div>');
			    });
			});
			
			
		</script>