		<div id="startListCRUD">
		    <h1>Tworzenie listy startowej</h1>
		    <% if (isAdminLogged) {%>
		    <div id="menuCRUD">
			<div id="finddiv">
			    <a id="findJumper" href="#">Znajdź</a>
			    <textarea id="fjumper" rows="" cols="" style="margin-top: -5px"></textarea>
			    <div id="alert"></div>
			</div>
			<div id="restdivs">
			    <a id="removeJumpers" href="#">Wyczyść</a>
			</div>
		    </div>
		    <div id="contentCRUD">
			<div id="columnLeft">
			    <div id="headers">
				<div id="headerInput">Numer startowy</div>
				<div id="headerInput">Imię skoczka</div>
				<div id="headerInput">Nazwisko skoczka</div>
			    </div>
			    <div id="textareas">
				<textarea id="number" rows="1" cols="15"></textarea>
				<textarea id="name" rows="1" cols="15"></textarea>
				<textarea id="surname" rows="1" cols="15"></textarea>
			    </div>
			    <div id="AddUpdateDelete">
				<a id="addJumper" href="#">Dodaj</a>
				<a id="updateJumper" href="#">Zmień</a>
				<a id="deleteJumper" href="#">Usuń</a>
			    </div>
			</div>
			<div id="columnRight">
			    <div id="tableStartList">
				<div id="headerStartList">
				    <div class="numberStartList">Numer</div>
				    <div class="nameStartList">Imie</div>
				    <div class="nameStartList">Nazwisko</div>
				</div>
				<div id="StartList">
				</div>
			    </div>
			    <div id="fillRight"></div>
			    <div id="fillBottom"></div>
			</div>
		    </div>
			
    <script>
			var ustaw_przeplatanie_kolorow = function(){
				if ($('#StartList .StartListRow:even').hasClass('highlightOdd')) {
			            $('#StartList .StartListRow:even').removeClass('highlightOdd');		
			        }
			        $('#StartList .StartListRow:odd').addClass('highlightOdd');		
			};
			
			var podswietl_dodany_element = function(co_podswietlic){
			    co_podswietlic.addClass('highlightPost');
			    window.setTimeout(function() {
			    co_podswietlic.removeClass('highlightPost');
			    }, 2500);
			};
			
			// ładowanie listy startowej
			socket.emit('loadStartList', 'load');
			socket.removeListener('StartList');
			socket.on('StartList', function(listaSkoczkow) {
			    for (var i=0;i<listaSkoczkow.length;i++) {
				if (listaSkoczkow[i].bib){
				$('#StartList').append('<div class="StartListRow"><div id="numberSL" data-number="'+listaSkoczkow[i].bib+'">'+listaSkoczkow[i].bib+'</div><div id="nameSL">'+listaSkoczkow[i].name+'</div><div id="surnameSL">'+listaSkoczkow[i].surname+'</div></div>');
				}
			    }
			    $('#StartList .StartListRow:odd').addClass('highlightOdd');
			});
			
			var podswietl_blad = function(co_podswietlic){
			    co_podswietlic.css({'background-color': '#FA6A6A','color':'white'});
			    window.setTimeout(function() {
				co_podswietlic.css({'background-color': '#FFFFFF','color':'red'});
			    }, 2500);
			};
			var socket = io.connect("localhost:3000");
			$('#findJumper').click(function(){
			    findJumper();
			    });
			$('#fjumper').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
			        findJumper();	
			    } else if (e.which == 40) {
				document.getElementById('number').focus();
			    }
			});
			$('#number').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
			        addJumper();	
			    } else if (e.which == 38) {
				document.getElementById('fjumper').focus();
			    } else if (e.which == 39) {
				document.getElementById('name').focus();
			    }
			});
			$('#name').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
			        addJumper();	
			    } else if (e.which == 37) {
				document.getElementById('number').focus();
			    } else if (e.which == 39) {
				document.getElementById('surname').focus();
			    }
			});
			$('#surname').keyup(function(e){
			    e.preventDefault();
			    if(e.which == 13) {
			        addJumper();	
			    } else if (e.which == 37) {
				document.getElementById('name').focus();
			    }
			});
			var findJumper = function(){
			    var number = $('#fjumper').val().trim();
			    $('#fjumper').val(number);
			    var pattern_number = /^([1-9]{1,1})$|^([1-4]{1,1}[0-9]{1,1})$|^50$/g;
			    var true_number = pattern_number.test(number);
			    if ( true_number ){
				socket.emit('findOneJumper',number);
				$('#alert').text('');
				window.setTimeout(function() {
				    $('#fjumper').val('');
				}, 5000);
			    } else {
				podswietl_blad($('#fjumper'));
				$('#alert').text("Wpisałeś zły numer. Wybierz z przedziału 1-50");
				window.setTimeout(function() {
				    $('#alert').text('');
				    $('#fjumper').val('');
				}, 5000);
				//alert("Wpisałeś zły numer startowy! Wybierz z przedziału 1-50!");
			    }
			    socket.removeListener('foundOneJumper');
			    socket.on('foundOneJumper',function(jumper){
				if ( jumper.bib == '0') {
				    $('#alert').text("Nie znaleziono skoczka o takim numerze startowym!");
					window.setTimeout(function() {
				    $('#alert').text('');
				    $('#fjumper').val('');
				    }, 5000);
				}
				$('#contentCRUD #number').val(jumper.bib);
				$('#contentCRUD #name').val(jumper.name);
				$('#contentCRUD #surname').val(jumper.surname);
			    });
			}
			$('#addJumper').click(function(){
			    addJumper();
			});
			var addJumper = function(){
			    var number = $('#number').val().trim();
			    $('#number').val(number);
			    var name = $('#name').val().trim();
			    $('#name').val(name);
			    var surname = $('#surname').val().trim();
			    $('#surname').val(surname);
			    var pattern_number = /^([1-9]{1,1})$|^([1-4]{1,1}[0-9]{1,1})$|^50$/g;
			    var pattern_name = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var pattern_surname = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/g;
			    var true_number = pattern_number.test(number);
			    var true_name = pattern_name.test(name);
			    var true_surname = pattern_surname.test(surname);
			    if ( true_name && true_surname && true_number) {
				socket.emit('checkBibBeforeAdd',number);
				socket.removeListener('checkedBibBeforeAdd');
				socket.on('checkedBibBeforeAdd',function(jumper){
				    var sprawdz = jumper.bib;
				    if ( sprawdz == number) {
					podswietl_blad($('#number'));
					$('#alert').text("Ten numer startowy już jest na liście!");
					window.setTimeout(function() {
					    $('#alert').text('');
					}, 5000);
				    } else {
					//-------------- Dodaje zawodnika do bazy  ---------------------//
					socket.emit('addNewJumper',number,name,surname);
					$('#number,#name,#surname').css('background-color', 'lightgreen');
					window.setTimeout(function() {
					    $('#number,#name,#surname').css('background-color', '#FFFFFF').val("");
					}, 2500);
					//-------------- Dodaje zawodnika do div StartList -------------//
					var wiersz = $('.StartListRow').first();
					var ilosc_wierszy = $('.StartListRow').length;
					var ktory_wiersz = 1;
					if (wiersz.find('#numberSL').length > 0){
					    $('.StartListRow').each(function(){
						if ( +wiersz.find('#numberSL').text() > +number) {
						    $(wiersz).hide().before('<div class="StartListRow"><div id="numberSL" data-number="'+number+'">'+number+'</div><div id="nameSL">'+name+'</div><div id="surnameSL">'+surname+'</div></div>');
						    $(wiersz).hide().slideDown();
						    ustaw_przeplatanie_kolorow();
						    podswietl_dodany_element($(wiersz).prev());
						    $('#alert').text('');
						    document.getElementById('number').focus();
						    return false;
						}
						else{
						    ktory_wiersz++;
						    if ( ktory_wiersz > ilosc_wierszy) {
							$('<div class="StartListRow"><div id="numberSL" data-number="'+number+'">'+number+'</div><div id="nameSL">'+name+'</div><div id="surnameSL">'+surname+'</div></div>').hide().appendTo('#StartList').slideDown();;
							ustaw_przeplatanie_kolorow();
							podswietl_dodany_element($('.StartListRow').last());
							$('#alert').text('');
							document.getElementById('number').focus();
							return false;
						    }
						    wiersz = wiersz.next();
						}
					    });
					} else {
					    $('<div class="StartListRow"><div id="numberSL" data-number="'+number+'">'+number+'</div><div id="nameSL">'+name+'</div><div id="surnameSL">'+surname+'</div></div>').hide().appendTo('#StartList').slideDown();;
					    ustaw_przeplatanie_kolorow();
					    podswietl_dodany_element($('.StartListRow').last());
					    $('#alert').text('');
					    document.getElementById('number').focus();
					}
				    }
				});
				//socket.emit('addNewJumper',number,name,surname);
			    } else if ( true_name==false && true_surname==false){
				podswietl_blad($('#name,#surname'));
			    } else if ( true_name==false ) {
				podswietl_blad($('#name'));
			    } else if ( true_surname==false){
				podswietl_blad($('#surname'));
			    } else {
				podswietl_blad($('#number'));
				$('#alert').text("Wpisałeś zły numer. Wybierz z przedziału 1-50");
				window.setTimeout(function() {
				    $('#alert').text('');
				}, 5000);
			    }
			}
			$('#updateJumper').click(function(){
			    var number = $('#number').val();
			    var name = $('#name').val();
			    var surname = $('#surname').val();
			    var pattern_number = /^([1-9]{1,1})$|^([1-4]{1,1}[0-9]{1,1})$|^50$/g;
			    var pattern_name = /^[A-ZĆŁŹŻ][a-ząćęłńóśźż]{1,}$/;
			    var true_number = pattern_number.test(number);
			    var true_name = pattern_name.test(name);
			    var true_surname = pattern_name.test(surname);
			    if (true_number) {
				socket.emit('checkBibBeforeUpdate',number);
				socket.removeListener('checkedBibBeforeUpdate');
				socket.on('checkedBibBeforeUpdate',function(jumper){
				    var sprawdz = jumper.bib;
				    if ( sprawdz == number) {
					if ( true_name && true_surname) {
					    socket.emit('updateJumper',number,name,surname);
					    $(".StartListRow").find("[data-number='"+number+"']").parent().find("#nameSL").text(name);
					    $(".StartListRow").find("[data-number='"+number+"']").parent().find("#surnameSL").text(surname);
					    $(".StartListRow").find("[data-number='"+number+"']").parent().addClass('highlightUpdate');
					    window.setTimeout(function() {
					        $(".StartListRow").find("[data-number='"+number+"']").parent().removeClass('highlightUpdate');
					    }, 2500);
					    $('#number,#name,#surname').css('background-color', 'lightgreen');
					    window.setTimeout(function() {
					        $('#number,#name,#surname').css('background-color', '#FFFFFF').val("");
					    }, 2500);
					    $('#alert').text('');
					} else if ( true_name==false && true_surname==false){
					    podswietl_blad($('#name,#surname'));
					} else if ( true_name==false ) {
					    podswietl_blad($('#name'));
					} else if ( true_surname==false){
					    podswietl_blad($('#surname'));
					}
				    } else {
					podswietl_blad($('#number'));
					$('#alert').text("Nie można edytować, ponieważ nie znaleziono tego numeru!");
					window.setTimeout(function() {
					    $('#alert').text('');
					}, 5000);
				    }
				});
			    } else {
				podswietl_blad($('#number'));
				$('#alert').text("Wpisałeś zły numer. Wybierz z przedziału 1-50");
				window.setTimeout(function() {
				    $('#alert').text('');
				}, 5000);
			    }
			});
			$('#deleteJumper').click(function(){
			    var number = $('#number').val();
			    var pattern_number = /^([1-9]{1,1})$|^([1-4]{1,1}[0-9]{1,1})$|^50$/g;
			    var true_number = pattern_number.test(number);
			    if ( true_number) {
				socket.emit('checkBibBeforeDelete',number);
				socket.removeListener('checkedBibBeforeDelete');
				socket.on('checkedBibBeforeDelete',function(jumper){
				    var sprawdz = jumper.bib;
				    if ( sprawdz == number) {
					var potwierdzenie = confirm("Jesteś pewny?");
					if ( potwierdzenie == true) {
					    socket.emit('deleteJumper',number);
					    $(".StartListRow").find("[data-number='"+number+"']").parent().remove();
					    ustaw_przeplatanie_kolorow();
					    $('#number,#name,#surname').css('background-color', 'lightgreen');
					    window.setTimeout(function() {
						$('#number,#name,#surname').css('background-color', '#FFFFFF').val("");
					    }, 2500);
					}
				    } else {
					podswietl_blad($('#number'));
					$('#alert').text("Nie można usunąć, ponieważ nie znaleziono tego numeru!");
					window.setTimeout(function() {
					    $('#alert').text('');
					}, 5000);
				    }
				});
			    } else {
				podswietl_blad($('#number'));
				$('#alert').text("Wpisałeś zły numer. Wybierz z przedziału 1-50");
				window.setTimeout(function() {
				    $('#alert').text('');
				}, 5000);
			    }
			});
			$('#removeJumpers').click(function(){
			    var potwierdzenie = confirm("Jesteś pewny?");
			    if ( potwierdzenie == true) {
				socket.emit('removeJumpers');
				$('#StartList > div').remove();
			    }
			    });
		    </script>
<% } %>
		</div>