@czcionka: tahoma;
@wysrodkowanie: center;
p {
    font-family: @czcionka;
}
body {
	margin: 0;
	background: url("../graph/background.jpg") top fixed no-repeat;
	overflow-y: scroll;
	font-family: @czcionka;
}

#header {
	background: url("../graph/headerBackground.png") center no-repeat;
	height: 168px;
	position: fixed;
	width: 100%;
	z-index: 100;
    #headerWrapper {
        width: 1000px;
        margin: 0 auto;
        #logo {
            float: left;
            width: 190px;
            padding-top: 10px;
            cursor: pointer;
        }
        #menu {
            display: inline;
            float: left;
            ul {
                margin: 0;
                padding: 35px 0 0 50px;
                li {
                    display: inline;
                    a {
                        text-decoration: none;
                        color: #008DD2;
                        font-family: @czcionka;
                        font-size: 19px;
                        padding: 10px;
                        border-radius: 5px;
                        &:hover {
                            color: #FFF;
                            background: #1e5799; /* Old browsers */
                            background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
                            /* FF3.6+ */
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799),
		color-stop(50%, #2989d8), color-stop(100%, #7db9e8));
                            /* Chrome,Safari4+ */
                            background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
                            /* Chrome10+,Safari5.1+ */
                            background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
                            /* Opera 11.10+ */
                            background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
                            /* IE10+ */
                            background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
                            /* W3C */
                            filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#1e5799',
		endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
                        }
                    }
                }
            }
        }
    }
}

#content {
	padding: 160px 0 20px 0;
	width: 1000px;
	margin: 0 auto 150px auto;
	position: relative;
	top: 300px;
	opacity: 0;
	border-radius: 10px;
	background: url("../graph/contentBackground.png") fixed center top;
	overflow-y:auto;
	overflow-x:hidden;
}

#news {
    .newsBox {
        border-radius: 10px;
        border: 2px solid #008DD2;
        margin: 20px;
        overflow: auto;
        position: relative;
        height: 210px;
        overflow-y: hidden;
        .newsBoxImage {
            img {
                border-radius: 10px;
                float: left;
                width: 319px;
            }
        }
        .newsBoxDescription {
            float: right;
            width: 585px;
            margin-right: 20px;
            p {
                text-align: justify;
                height: 100px;
                overflow-y:hidden; 
            }
            .readMore {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 30px;
                opacity: 0.0;
                a {
                    background-color:rgba(0,140,210,100);
                    text-decoration: none;
                    display: inline;
                    vertical-align: middle;
                    line-height: 30px;
                    padding: 6px;
                    color: #FFF;
                    font-weight: bold;
                }
            }
            .editArticle {
                position: absolute;
                top: 0;
                right: 0;
                height: 30px;
                opacity: 0.0;
                a {
                    background-color: #009846;
                    text-decoration: none;
                    display: inline;
                    vertical-align: middle;
                    line-height: 30px;
                    padding: 6px;
                    color: #FFF;
                    font-weight: bold;
                }
            }
        }
        &:hover {
            .readMore {
                opacity: 1;
            }
            .editArticle {
                opacity: 1;
            }
        }
    }
}

input {
    margin-bottom: 20px;
    font-size: 20px;
    width: 300px;
    color: #000;
    background: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #000;
    font-family: 'Roboto', sans-serif;
}

#fLogin, #fRegisterUser {
	text-align:@wysrodkowanie; 
}

#addArticle {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 100;
}
#deleteArticle {
    text-decoration: none;
	color: red;
	font-family: @czcionka;
	font-size: 19px;
	padding: 10px;
	border-radius: 5px;
	position:absolute;
	right:20px;
    &:hover {
        color: #FFF;
        background: #a90329; /* Old browsers */
        background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    }
}
#editArticle, #back {
    text-decoration: none;
	color: #008DD2;
	font-family: @czcionka;
	font-size: 19px;
	padding: 10px;
	border-radius: 5px;
	position:absolute;
    right:80px;
}

#login, #registerUser, #addArticle, #save{
	text-decoration: none;
	color: #008DD2;
	font-family: @czcionka;
	font-size: 19px;
	padding: 10px;
	border-radius: 5px;
}



#login:hover, #registerUser:hover, #addArticle:hover, #save:hover, #editArticle:hover, #back:hover {
	color: #FFF;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799),
		color-stop(50%, #2989d8), color-stop(100%, #7db9e8));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#1e5799',
		endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

#startListCRUD{
    h1 {
        padding-top: 10px;
        margin-top: -20px;
        margin-bottom: -20px;
        height: 50px;
        background-color: #4ED134;
        color: white;
        text-align: center;
        width: 1000px;
        margin-bottom: 0px;
    }
    #menuCRUD{
        padding-top: 15px;
        height: 50px;
        background-color: rgba(0,0,255,0.3);
        width: 100%;
        #finddiv{
            padding-top: 5px;
            padding-left: 10px;
            float: left;
            width: 750px;
            textarea{
                float:left;
                font-weight: bold;
                font-size: 17px;
                color: red;
                width:60px;
                height: 30px;
                margin-right: 30px;
                margin-left: 10px;
                text-align: center;
                border: 0;
                border-radius: 5px;
                padding-top: 8px;
            }
            #findJumper{
                float:left;
                position:relative;
                bottom: 6px;
            }
            #alert{
                float:left;
                position: relative;
                top: 5px;
                color: white;
                font-weight: bold;
                text-align: center;
            }
        }
        #restdivs{
            padding-top: 5px;
            float:left;
            width: 200px;
            #removeJumpers{
                position: relative;
                left: 120px;
                top: 2px;
                background-color: #DE0404;
                text-decoration: none;
                color: #FFF;
                font-family: @czcionka;
                font-size: 18px;
                padding: 8px;
                border-radius: 5px;
            }
        }
    }
    #contentCRUD{
        text-align: center;
        height: 400px;
        margin-bottom: -20px;
        #columnLeft{
            width: 525px;
            background-color: rgba(0,0,255,0.3);
            height: 385px;
            position: absolute;
            left: 0px;
            padding-top: 15px;
            #headers{
                height: 21px;
                #headerInput{
                    float: left;
                    width: 150px;
                    color: white;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            #textareas{
                height: 40px;
                textarea {
                    font-weight: bold;
                    font-size: 17px;
                    color: red;
                    padding-top: 8px;
                    width: 150px;
                    height: 30px;
                    border: 0;
                    border-radius: 5px;
                    float: left;
                    margin-right: 10px;
                    margin-left: 10px;
                    text-align: center;
                }
            }
            #AddUpdateDelete{
                display: block;
                margin-top: 10px;
                #addJumper{
                    margin-left: 10px;
                    background: #47CA0F;
                }
                #updateJumper{
                    width: 100px;
                    margin-left: 10px;
                    background: #FF8C00;
                }
                #deleteJumper{
                    width: 100px;
                    margin-left: 10px;
                    background: #DE0404;
                }
            }
        }
        #columnRight{
            position: absolute;
            right: 0px;
            width: 475px;
            height: 400px;
            #tableStartList{
                width: 400px;
                height: 380px;
                float: left;
                #headerStartList{
                    display: block;
                    padding-top: 2px;
                    font-size: 17px;
                    font-weight: 600;
                    height: 28px;
                    color: white;
                    background-color: #72C5EF;
                    text-align: center;
                    .numberStartList{
                        float: left;
                        width: 75px;
                    }
                    .nameStartList{
                        float: left;
                        width: 150px;
                    }
                }
                #StartList{
                    float:left;
                    font-size:small;
                    width:400px;
                    height: 350px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    .StartListRow{
                        width: inherit;
                        height: 22px;
                        padding-top: 2px;
                        border-bottom: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: #72C5EF;
                        #numberSL{
                            float: left;
                            width: 75px;
                        }
                        #nameSL, #surnameSL{
                            float: left;
                            width: 150px;
                        }
                    }
                }
            }
            #fillRight{
                float:left;
                width: 75px;
                height: 380px;
                background-color: rgba(0,0,255,0.3);
            }
            #fillBottom{
                float:left;
                width: 475px;
                height: 20px;
                background-color: rgba(0,0,255,0.3);
            }
        }
    }
}

#addJumper, #updateJumper, #findJumper, #deleteJumper{
    display: inline-block;
	text-decoration: none;
    text-align: center;
	color: #FFF;
	font-family: @czcionka;
	font-size: 18px;
	padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
	border-radius: 5px;
    background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799),
		color-stop(50%, #2989d8), color-stop(100%, #7db9e8));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#1e5799',
		endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

#liveWrapper{
    width: 1000px;
    position: relative;
    height: 200px;
    overflow: hidden;
    #leftColumn {
        width: 500px;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        #alertData{
            width: 500px;
            text-align: center;
            height: 30px;
            margin-bottom: 5px;
            color: red;
        }
        select{
            height: 27px;
            border-width: 0px;
            margin-left: 0px;
            background-color: rgba(0,255,43,0.2);
        }
        input {
            border-radius: 5px;
            text-align: center;
            border: 0px;
            background-color: rgba(0,255,43,0.2);
            margin-bottom: 10px;
        }
        #imieSkoczka{
            text-align: left;
            padding-left: 10px;
        }
        #naglowek{
            width: 120px;
            float: left;
            padding-top: 2px;
            margin-left: 50px;
            color: rgba(0,141,210,1.0);
        }
        #headerLiveRelation {
            width: 500px;
            height: 30px;
            background: #72C5EF;
            color: white;
            font-weight: 600;
            .columnKlasyf { 
                padding-left: 8px;
                float: left;
                width: 100px;
                padding-top: 3px;
            }
        }
        #roundsContainer{
            width: 500px;
            #firstRound, #secondRound{
                width: 250px;
                float: left;
                #block{
                    display: block;
                    padding-left: 50px;
                }
                input{
                    margin-bottom: 5px;
                }
                div {
                    padding-right: 10px;
                    div {
                        padding-top: 4px;
                        color: rgba(0,141,210,1.0);
                    }
                }
                div:nth-child(2){
                    margin-bottom: 10px;
                    div{
                        padding-right: 20px;
                    }
                }
            }
        }
        #liveRelation{ 
            .liveRelationRow {
                overflow: auto;
                padding-top:4px;
                padding-bottom: 6px;
                margin: 0px 0;
                border-bottom-style: outset; 
                border-bottom-width: thin; 
                border-bottom-color: #72C5EF;
                .liveDescription {
                    width: 483px;
                    float: left;
                    padding-top: 5px;
                    text-align: justify;
                    .jump1, .jump2, .points1, .points2, .finalResult{
                        text-align: center;
                    }
                    .rank {
                        width: 12px;
                        float: left;
                        padding-left: 8px;
                        padding-right: 5px;
                    }
                    .jump1, .jump2, .kolumna {
                        padding-left: 4px;
                        float: left;
                        width: 100px;
                    }
                    .nation {
                        padding-left: 4px;
                        width: 30px;
                        float: left;
                    }
                    .points1, .points2 {
                        padding-left: 4px;
                        float: left;
                        width: 100px;
                    }
                    .finalResult {
                        font-weight: 600;
                        float: left;
                    }
                }
            }
        }
    }
    #rightColumn {
        width: 480px;
        float: left;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        #privateMessage{
            padding-top: 5px;
            margin-bottom: 10px;
            display: block;
            width: 480px;
            height: 30px;
            text-align: center;
            #nickname{
                color: red;
                float: left;
                width: 100px;
            }
            #pm{
                color: red;
                width: 380px;
                float: left;
            }
        }
        #headerLiveRelation {
            width: 500px;
            height: 30px;
            background: #72C5EF;
            color: white;
            font-weight: 500;
            .columnKlasyf { 
                padding-left: 8px;
                float: left;
                width: 100px;
                padding-top: 3px;
            }
        }
        #liveRelation{
            .liveRelationRow {
                overflow-y: auto;
                padding-top:4px;
                padding-bottom: 6px;
                margin: 0px 0;
                border-bottom-style: outset; 
                border-bottom-width: thin; 
                border-bottom-color: #72C5EF;
                .liveDescription {
                    width: 483px;
                    float: left;
                    padding-top: 5px;
                    text-align: justify;
                    .jump1, .jump2, .points1, .points2, .finalResult{
                        text-align: center;
                    }
                    .rank {
                        width: 12px;
                        float: left;
                        padding-left: 8px;
                        padding-right: 5px;
                    }
                    .jump1, .jump2, .kolumna {
                        padding-left: 4px;
                        float: left;
                        width: 100px;
                    }
                    .nation {
                        padding-left: 4px;
                        width: 30px;
                        float: left;
                    }
                    .points1, .points2 {
                        padding-left: 4px;
                        float: left;
                        width: 100px;
                    }
                    .finalResult {
                        font-weight: 500;
                        float: left;
                    }
                }
            }
        }
        .userPost {
            width: 460px;
            margin-bottom: 10px;
            overflow: auto;
            .cloud {
                width: 310px;
                height: 100%;
                border-radius: 5px;
                background:url("../graph/cloudBackground.png") repeat;
                padding: 5px;
                float: left;
                min-height: 30px;
            }
            .cloudDynks{
                width: 22px;
                height: 8px;
                margin-top:20px;
                background:url("../graph/cloudDynks.png") no-repeat center left;
                padding: 5px;
                float: left;
            }
            .userData {
                margin-top:5px;
                display: inline;
                float: left;
                overflow: hidden;
                .nick{
                    font-weight: bold;
                    overflow:hidden;
                    width:100px;
                }
            }
        }
    }
}

.liveHeader {
    background: url("../graph/liveBackground.png") no-repeat center;
    color: #FFF;
    padding-top: 15px;
    height: 66px;
    width: 485px;
    float: left;
    margin-top: -25px;
    padding-left: 15px;
}

.czatHeader {
    background: url("../graph/czatBackground.png") no-repeat center;
    color: #FFF;
    width: 500px;
    padding-top: 15px;
    height: 66px;
    text-align: right;
    width: 485px;
    float: right;
    margin-top: -25px;
    padding-right: 15px;
}

.highlightPost {
	background-color: rgba(235,243,126,0.8) !important;
}
.highlightUpdate {
	background-color: rgba(255,128,0,0.6) !important;
}
.highlightOdd {
	background-color: rgba(41,243,54,0.2);
}


#singleArticle {
    padding: 20px;
    p {
        text-align: justify;
    }
    img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px; 
    }
}

#back {
	float: right;
}

#history {
    a {
        text-decoration: none;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        li {
            font-size: 20px;
            list-style: none;
            padding: 10px 0;
            ul {
                li {
                    a {
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}

#postWrapper {
	width: 980px;
	overflow: auto;
	padding: 10px;
	position: fixed;
	bottom: 0;
	background: #008DD2;
	border-radius: 10px;
    #postLeft {
        width: 480px;
        float: left;
        select {
            width: 65px;
            height: 50px;
            border: 0;
            border-radius: 5px;
            text-align: @wysrodkowanie;
            margin-left: 3px;
        }
        textarea {
            padding-left: 8px;
            width: 150px;
            height: 40px;
            border: 0;
            border-radius: 5px;
        }
        #pmToAdmin{
            width: 460px;
            height: 40px;
            border: 0;
            border-radius: 5px;
        }
        #headerInput {
            text-align: left;
            float: left;
            width: 150px;
            color: white;
            padding-left: 10px;
        }
    }
    #postRight {
        width: 480px;
        float: right;
        text-align: right;
        textarea {
            width: 460px;
            height: 40px;
            border: 0;
            border-radius: 5px;
        }
        #headerInput {
            text-align: left;
            float: left;
            width: 300px;
            color: white;
            padding-left: 40px;
        }
        #adminResponse{
            width: 220px;
        }
        select{
            width: 220px;
            height: 40px;
        }
    }
}

#sendRight, #sendLeft, #sendPMToAdmin, #answerToUser, #getResults, #removeResult, #addUpdateResult2, #updateResult1 {
	text-decoration: none;
	color: #FFF;
	font-family: @czcionka;
	font-size: 19px;
	padding: 10px;
	border-radius: 5px;
    &:hover {
        color: #008DD2;
        background: #FFF;
    }
}

#destroy {
	text-decoration: none;
	color: #FFF;
	font-family: @czcionka;
	font-size: 19px;
	border-radius: 5px;
	padding: 10px;
	margin-left: 335px;
    &:hover {
        color: #FFFFFF;
        background: #FA6A6A; 
    }
}

.opis, .logowanie {
    text-align: @wysrodkowanie;
    font-family: @czcionka;
    font-size: 20px;
}

#fEditArticle{
    text-align: @wysrodkowanie;
    #articleTitle {
        width: 450px;
        height: 30px;
        border: 0;
        border-radius: 5px;
        background: #FFF;
        padding-left: 10px;
    }
    #articleEditor {
        width: 850px;
        height: 80px;
        border: 0;
        border-radius: 5px;
        background: #FFF;
        padding-left: 10px;
        margin-bottom: 15px;
    }
}